numpy
scipy
scikit-learn
h5py
opencv-python
Pillow
scikit-image
torch
torchvision
ultralytics
insightface
onnxruntime
Cython
gdown
yacs
torchreid @ git+https://github.com/KaiyangZhou/deep-person-reid.git
tqdm
PyYAML
requests
matplotlib