numpy
scipy
scikit-learn
h5py
opencv-python
Pillow
scikit-image
torch
torchvision
ultralytics
insightface
onnxruntime
Cython
gdown
yacs
tqdm
PyYAML
requests
matplotlib
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv
openpyxl>=3.1